{% extends "base.html.twig" %}

{% block body %}

<body>
    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col my-4 d-flex flex-column justify-content-center align-items-center">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.chapo }}</h3>
                <p>{{ post.description }}</p>
                <p>{{ post.dateTime |date('d-m-Y') }}</p>
            </div>
            <div class="col my-4">
                <img class="img-fluid" src="{{ root_image~post.image }}" alt="">
            </div>
        </div>
    </div>
</body>

{% endblock body %}